@use '@picocss/pico/scss/pico' with (
	$parent-selector: '.pico'
);

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

html,
body,
html > div .full-height {
	height: 100%;
	overflow: auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
